extends layout

block nav
  include navbar-fixed-top2.jade

block content
  .container
    // Main component for a primary marketing message or call to action
    .jumbotron
      h2 #{title}
      p Welcome to #{title + ' v' + version}
      p
        | This is a tool for managing a fleet of shared assets distributed across multiple locations.
        | The tool is broken into three Recording tasks (Recovery, Inventory, Maintenance) and a Reporting summary.
      p
        | (SQLite3 used as a test database)
      p
        a.btn.btn-lg.btn-primary(href='#', role='button') Fire Missiles &raquo;